* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
 background-image: url("Images/Masada2.jpg");
 background-size: cover;
 background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  width: 100%;
  height: 103vh;
  font-family: Helvetica;
  margin: 0;
}

#home h1 {
  font-size: 80px;
  font-family: 'Montez', sans-serif;
}

#home h2 {
  text-align: left;
  font-size: 2rem;
}

#home h3 {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

.name {
  margin: 23% 0% 9% 1%;
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  animation-name: dropdown;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

nav {
  margin-top: -15px;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.6);
  list-style-type: none;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;;
}

.navlink {
  font-size: 1.1rem;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.navlink:hover {
  color: #19B5FE;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
}

a:link {
   color:white;
   text-decoration:none;
}

a:visited {
   color:white;
   text-decoration:none;
}
a:active {
   color:white;
   text-decoration:none;
}

#portfolio {
  padding-top: 2.5%;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*box-shadow: 0px 0px 20px white;*/
  margin: 0 auto;
  background-size: cover;
  border-bottom: 1px solid darkgray;
}

.section-header {
  font-size: 4rem;
  padding: 2%;
  font-family: 'Raleway Dots', cursive;
}

#two-projects {
  text-align: center;
  width: 100%;
}

.project {
  width: 37%;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0% 3% 4% 3%;
}

.project-title {
  text-align: center;
  padding-bottom: 3.2%;
  font-size: 2.1rem;
  font-family: 'Poiret One', cursive;
  color: red;
}

.project-links {
  border: 1px solid yellow;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  padding: 1.3%;
  margin: 0 5px 0 6px;
}

.project-links:link {
  color: white;
}

.project-links:hover {
  color: magenta;
  transform: scale(1.2, 1.2);
}

.row2 {
  margin-top: 5%;
}

.screenshots {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2%;
  border-radius: 6px;
  border: 1px solid darkgray;
  box-shadow: inset -2px 0px 10px 0px #5C5858,3px 4px 5px 1px #969393;
-webkit-box-shadow: inset -2px 0px 10px 0px #5C5858,3px 4px 5px 1px #969393;
-moz-box-shadow: inset -2px 0px 10px 0px #5C5858,3px 4px 5px 1px #969393;
-o-box-shadow: inset -2px 0px 10px 0px #5C5858,3px 4px 5px 1px #969393;
}

#organizer {
  padding-top: 7px;
}

#skills {
  width: 100%;
  text-align: center;
  padding-top: 18%;
  padding-bottom: 20%;
}

#skills h1 {
  padding-bottom: 5%;
}

.icons {
  height: 10%;
  width: 10%;
}

#html5 {
  height: 6.5%;
  width: 6.5%;
}

#css {
  height: 4.8%;
  width: 4.8%;
}

#javascript {
  height: 5%;
  width: 5%;
}

#node {
  height: 13%;
  width: 14%;
}

#psql {
  height: 7%;
  width: 7%;
}

#ruby {
  height: 6%;
  width: 6%;
}

#office {
  height: 8%;
  width: 12%;
}

#footer {
  width: 100%;
  border-top: 3px solid black;
  background-color: black;
  position: relative;
}

.social {
  padding-bottom: 1.3%;
  padding-top: 1.3%;
  position: relative;
  background-color: black;
  width: 100%;
  position: absolute;
  text-align: center;
}

li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

.icon {
  height: 30px;
  width: 30px;
}

p {
  color: white;
  background-color: black;
}

/*concerts.html  */

#home2 {
  background-image: url("Images/Masada2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  width: 100%;
  /*height: 103vh;*/
  font-family: Helvetica;
  margin: 0;
}

#gallery {
  text-align: center;
  display: inline-block;
  background-color: white;
}

video {
  padding: 0% 1% 0% 1%;
  width: 320px;
  height: 240px;
  margin-top: -9%
}

/*.videos {
  background-color: white;
}*/

.captions {
  margin: 8%;
}

@keyframes dropdown {
  from {
    margin-left: -40%;
    opacity: 1;
  }

  to {
    margin-left: 4%;
    opacity: 1;
  }
}







/*IPHONE 5*/
@media (max-width: 360px) {
   #home {
    background-position: center center;
  }

  nav {
    margin-top: -20px;
    /*float: right;*/
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.35);
    list-style-type: none;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 4px;
  }

  .name {
    margin: 150px 0px 50px 20px;
  }

  #home h1 {
    font-size: 70px;
  }

  #home h3 {
    font-size: 20px;
  }

  .section-header {
    font-size: 2rem;
  }

  .icon {

  }

  .project-title {
    font-size: 1rem;
  }

}




/*IPHONE 6*/
@media (max-width: 416px) and (min-width: 321px) {
  #home {
    background-position: center center;
  }

  nav {
    margin-top: -20px;
    /*float: right;*/
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.35);
    list-style-type: none;
    text-align: center;
  }

  li {
  display: inline-block;
  padding: 4px;
 }

 .name {
  margin: 200px 0px 20px 20px;
 }

 .section-header {
    font-size: 2rem;
  }

  .project-title {
    font-size: 1.6rem;
  }

  .project {
    width: 80%;
    padding: 4%;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 4%;
  }
}

/*IPHONE 6 PLUS*/
@media (max-width: 737px) and (min-width: 400px) {
  #home {
    background-position: center center;
  }

  nav {
    margin-top: -20px;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.35);
    list-style-type: none;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 4px;
  }

  .name {
    margin: 250px 0px 20px 20px;
  }

  .section-header {
    font-size: 2rem;
  }
}

/*TABLET*/
@media (max-width: 770px) and (min-width: 417px) {
  #home {
    background-position: center center;
  }

  nav {
    margin-top: -20px;
    color: white;
    background: rgba(0,0,0,0.35);
    list-style-type: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 40px 20px 20px 20px;
  }

  #home h1 {
    font-size: 110px;
  }

  #home h3 {
    font-size: 20px;
  }

  li {
    display: inline-block;
    padding: 4px;
  }

  .name {
     margin: 360px 0px 120px 20px;
  }

  .icon {
    height: 50px;
    width: 50px;
    padding: 8px;
  }

   .section-header {
    font-size: 2.5rem;
  }
}

@media (max-width: 3000px) and (min-width: 2000px) {
  #home {
    background-position: center center;
  }

  nav {
    margin-top: -20px;
    color: white;
    background: rgba(0,0,0,0.35);
    list-style-type: none;
    text-align: center;
    font-size: 3.7rem;
    padding: 20px 20px 20px 20px;
  }

  .navlink {
    font-size: 2.3rem;
    padding: 2px 2px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
  }

  #home h1 {
    font-size: 150px;
    margin-top: 14%
  }

  #home h3 {
    font-size: 60px;
  }

  .section-header {
    font-size: 10rem;
  }
  li {
    display: inline-block;
    padding: 4px;
  }

  .name {
     margin: 24% 0% 9% 1%;
  }

  footer {
    margin-bottom: 0px;
  }

  .icon {
    height: 60px;
    width: 60px;
    padding: 10px;
  }
}
